---
import { Image } from "astro:assets";
import productImg from "../../public/images/rectangle-35.png";
import emptyStarImg from "../../public/images/star.svg";
import deal from "../../public/images/group-3330.svg";
import plus from "../../public/images/plus.svg";
import wishlist from "../../public/images/vector.svg";
---

<div class="product-card flex">
  <div class="upper-section">
    <div class="wishlist-icon">
      <Image src={wishlist} alt="Wishlist" class="wishlist" id="btnWishlist" />
    </div>
  </div>
  <Image src={productImg} alt="Product Image" />
  <div class="lower-section">
    <div class="rating-section flex">
      <div class="rating">
        {
          [...Array(5)].map((_, index) => (
            <Image src={emptyStarImg} alt="Star" class="star" />
          ))
        }
      </div>
      <span class="type">Hybrid</span>
    </div>
    <span class="product-name">Restore Lemon Ginger Drink Mix 2:1 CBD:THC</span>
    <div class="deal-section flex">
      <div class="weight">48 mg</div>
      <div class="deal flex">
        <Image src={deal} alt="Deal" />
        <span class="deal-title">1 Deal avilable</span>
      </div>
    </div>
    <div class="price-qty-section flex">
      <div class="price-section">
        <div class="current-price">$199.99</div>
        <div class="original-price">$399.99</div>
      </div>
      <div class="qty-section">
        <button class="qty-increment" id="btnPlus">
          <div class="qty" id="incrementText"></div>
          <Image src={plus} alt="Quantity" class="plus" id="btnIncrement" />
        </button>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card {
    position: relative;
    width: 200px;
    height: 322px;
    flex-direction: column;
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    margin-block: 20px;
  }
  .upper-section {
    width: 27.914px;
    height: 28px;
    border: 1px solid #82868c;
    border-radius: 50%;
    position: absolute;
    right: 6px;
    top: 6px;
  }
  .wishlist-icon {
    margin-top: 4px;
    text-align: center;
    .wishlist {
      cursor: pointer;
    }
  }
  .filled-wishlist {
    background-image: url("./images/filled-vector.svg");
  }
  .lower-section {
    margin-left: 10px;
    margin-right: 10px;
  }
  .rating-section {
    justify-content: space-between;
  }
  .rating {
    cursor: pointer;
  }
  .filled-star {
    content: url("./images/filled-star.svg");
  }
  .type {
    color: #de8d73;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .product-name {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .deal-section {
    justify-content: space-between;
  }
  .weight {
    color: #82868c;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
  .deal {
    margin-top: 2px;
  }
  .deal-title {
    color: var(--primaryColor);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
  .price-qty-section {
    justify-content: space-between;
    margin-block: 10px;
  }
  .current-price {
    color: #ef403d;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .original-price {
    color: #82868c;
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    text-decoration: line-through;
  }
  .qty-increment {
    padding: 5px 7px;
    border: 0;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--primaryColor);
    .plus {
      margin-top: 2px;
    }
    .qty {
      display: none;
    }
  }
  .increment-qty {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--white);
    height: 38px;
    border-radius: 26px;
    justify-content: space-around;
    width: 80px;
    .plus {
      margin-top: 0px;
    }
    .qty {
      display: block;
      font-size: 14px;
    }
    .qty::after {
      content: "x";
      font-size: 12px;
      margin-left: 2px;
    }
  }
</style>
<script>
  // -------- Wishlist --------
  let AddToWishlist = () => {
    const wishlistBtn = document.querySelector(".wishlist");
    wishlistBtn?.classList.toggle("filled-wishlist");
  };
  document
    .getElementById("btnWishlist")
    ?.addEventListener("click", AddToWishlist);

  // -------- Rating -----------
  let allStar = document.querySelectorAll(".rating .star");
  allStar.forEach((star, idx) => {
    star.addEventListener("click", () => {
      allStar.forEach((i, idx1) => {
        idx >= idx1
          ? i.classList.add("filled-star")
          : i.classList.remove("filled-star");
      });
    });
  });

  // -------- Quantity Increment Button --------

  //---- Button Expansion ----
  let IncrementQty = () => {
    const btn = document.querySelector(".qty-increment");
    btn?.classList.add("increment-qty");
  };
  document.getElementById("btnPlus")?.addEventListener("click", IncrementQty);

  //---- Quantity Increment  ----
  let value = 0;
  let incrementBtn: HTMLElement | null;
  let counterValue: HTMLElement | null;

  counterValue = document.getElementById("incrementText");
  incrementBtn = document.getElementById("btnIncrement");

  if (counterValue && incrementBtn) {
    incrementBtn.addEventListener("click", () => {
      value++;
      if (counterValue) {
        counterValue.innerHTML = value.toString();
      }
    });
  }
</script>
