---
import { Image } from "astro:assets";
import productImg from "../../public/images/rectangle-35.png";
import filledStarImg from "../../public/images/star-8.svg";
import emptyStarImg from "../../public/images/star-12.svg";
import deal from "../../public/images/group-3330.svg";
import plus from "../../public/images/plus.svg";
import wishlist from "../../public/images/vector.svg";
---

<div class="product-card flex">
  <div class="wishlist-section">
    <div class="wishlist-icon">
      <Image src={wishlist} alt="Rectangle 35" />
    </div>
  </div>
  <Image src={productImg} alt="Rectangle 35" />
  <div class="detail-section">
    <div class="rating-section flex">
      <div class="stars">
        <Image src={filledStarImg} alt="Star" />
        <Image src={filledStarImg} alt="Star" />
        <Image src={filledStarImg} alt="Star" />
        <Image src={filledStarImg} alt="Star" />
        <Image src={emptyStarImg} alt="Star" />
      </div>
      <span class="type">Hybrid</span>
    </div>
    <span class="product-name">Restore Lemon Ginger Drink Mix 2:1 CBD:THC</span>
    <div class="deal-section flex">
      <div class="weight">48 mg</div>
      <div class="deal flex">
        <Image src={deal} alt="deal" />
        <span class="deal-title">1 Deal avilable</span>
      </div>
    </div>
    <div class="price-qty-section flex">
      <div class="price-section">
        <div class="current-price">$199.99</div>
        <div class="original-price">$399.99</div>
      </div>
      <div class="qty-section">
        <button class="qty-increment">
          <Image src={plus} alt="deal" />
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card {
    position: relative;
    width: 200px;
    height: 322px;
    flex-direction: column;
    border-radius: 8px;
    background: var(--White, #fff);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    margin-block: 20px;
  }
  .wishlist-section {
    width: 27.914px;
    height: 28px;
    border: 1px solid #82868c;
    border-radius: 50%;
    position: absolute;
    right: 6px;
    top: 6px;
  }
  .wishlist-icon {
    margin-top: 4px;
    text-align: center;
  }
  .detail-section {
    margin-left: 10px;
    margin-right: 10px;
  }
  .rating-section {
    justify-content: space-between;
  }
  .type {
    color: #de8d73;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .product-name {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  .deal-section {
    justify-content: space-between;
  }
  .weight {
    color: #82868c;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
  .deal {
    margin-top: 2px;
  }
  .deal-title {
    color: var(--primaryColor);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
  .price-qty-section {
    justify-content: space-between;
    margin-block: 10px;
  }
  .current-price {
    color: var(--Red, #ef403d);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .original-price {
    color: var(--Grey, #82868c);
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    text-decoration: line-through;
  }
  .qty-increment {
    padding: 5px 7px;
    border: 0;
    border-radius: 50%;
    color: var(--White);
    background-color: var(--primaryColor);
  }
  .qty-increment img {
    margin-top: 2px;
  }
</style>
