---
import { Image } from "astro:assets";
import productImg from "../../public/images/rectangle-35.png";
import filledStarImg from "../../public/images/star-8.svg";
import emptyStarImg from "../../public/images/star-12.svg";
import deal from "../../public/images/group-3330.svg";
import plus from "../../public/images/plus.svg";
// import wishlist from "../../public/images/vector.svg";
---

<div class="product-card">
  <!-- <div class="wishlist-icon">
    <Image src={wishlist} alt="Rectangle 35" />
  </div> -->
  <Image src={productImg} alt="Rectangle 35" />
  <div class="rating-section">
    <div class="stars">
      <Image src={filledStarImg} alt="Star" />
      <Image src={filledStarImg} alt="Star" />
      <Image src={filledStarImg} alt="Star" />
      <Image src={filledStarImg} alt="Star" />
      <Image src={emptyStarImg} alt="Star" />
    </div>
    <div class="type">Hybrid</div>
  </div>
  <div class="product-name">Restore Lemon Ginger Drink Mix 2:1 CBD:THC</div>
  <div class="deal-section">
    <div class="weight">48 mg</div>
    <div class="deal">
      <Image src={deal} alt="deal" />
      <span class="deal-title">1 Deal avilable</span>
    </div>
  </div>
  <div class="price-qty-section">
    <div class="price-section">
      <div class="current-price">$199.99</div>
      <div class="original-price">$399.99</div>
    </div>
    <div class="qty-section">
      <button class="qty-increment">
        <Image src={plus} alt="deal" />
      </button>
    </div>
  </div>
</div>

<style>
  .product-card {
    display: flex;
    width: 161.5px;
    height: 314px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: var(--White, #fff);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    margin-block: 20px;
  }
  .rating-section {
    display: flex;
    gap: 25px;
    /* justify-content: space-between; */
    align-items: center;
  }
  .type {
    color: #de8d73;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .product-name {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  .deal-section {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .weight {
    color: #82868c;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
  .deal {
    display: flex;
    align-items: center;
    margin-top: 2px;
  }
  .deal-title {
    color: var(--primaryColor);
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
  .price-qty-section {
    display: flex;
    gap: 45px;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 10px;
  }
  .current-price {
    color: var(--Red, #ef403d);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .original-price {
    color: var(--Grey, #82868c);
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    text-decoration: line-through;
  }
  .qty-increment {
    padding: 5px 7px;
    border: 0;
    border-radius: 50%;
    color: var(--White);
    background-color: var(--primaryColor);
  }
  .qty-increment img {
    margin-top: 2px;
  }
</style>
